.footer
    .footer__content
        .footer__content__info
            .footer__content__info__text While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy  and our desire to learn more and more about it.
            .footer__content__info__text__small Test TRK © 2017
        .footer__content__terms
            .footer__content__terms__heading Terms & Conditions
            .footer__content__terms__policy
                a.footer__content__terms__policy__link(href="#") Privacy Policy
            .footer__content__terms__payment
                a.footer__content__terms__payment__link(href="#") Terms of Payment
            .footer__content__terms__service
                a.footer__content__terms__service__link(href="#") Terms of Service
        .footer__content__support
            .footer__content__support__heading Contact Support
            .footer__content__support__email jermey.kling@yahoo.com
            button.footer__content__support__feedback Leave feedback
        .footer__content__follow
            .footer__content__follow__heading Follow
            .footer__content__follow__icons
                .footer__content__follow__icons__facebook
                    a.footer__content__follow__icons__facebook__link(href="#")
                        i(class="fab fa-facebook-f")
                .footer__content__follow__icons__gplus
                    a.footer__content__follow__icons__gplus__link(href="#")
                        i(class="fab fa-google-plus-g")
                .footer__content__follow__icons__twitter
                    a.footer__content__follow__icons__twitter__link(href="#")
                        i(class="fab fa-twitter")