meta(charset='UTF-8', name='viewport', content='width-device-scale, initial-scale=1.0')
script(src="https://kit.fontawesome.com/14f4329ea9.js", crossorigin="anonymous")
link(rel="stylesheet", href="style.css")
link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet")
title TRK-test