header.header
    .header__content
        .header__left
            a.header__left__logo(href="index.html")
                .header__left__icon
                    .header__left__icon__big
                        .header__left__icon__small
                .header__left__text LOGO<span class="header__left__text__span">TYPE</span>
            nav.header__left__menu
                button.header__left__menu__btn1 Menu 1
                button.header__left__menu__btn2 Menu 2
                button.header__left__menu__btn3 Menu 3
        .header__right
            .header__right__cart
                button.header__right__cart__btn
                    i.fas(class="fa-shopping-cart")