html(lang='en')
    //-include head.pug
    include head
    body
        //-include header
        include header
        .main
            .main__content
                .carousel
                    .carousel__img
                        img.carousel__img__item(src="images/brand_banner_bg.png", alt="pic")
                    .carousel__arrow__left
                        i(class="fas fa-chevron-left")
                    .carousel__arrow__right
                        i(class="fas fa-chevron-right")
                    .carousel__items
                        i(class="fas fa-circle")
                        i(class="fas fa-circle")
                        i(class="fas fa-circle")
                        i(class="fas fa-circle")
                        i(class="fas fa-circle")
                        i(class="fas fa-circle")
                article.article
                    .article__content
                        .article__content__heading I Left The “Grand Old Party”
                            .article__content__heading__small for Producers
                        .article__content__text Last night, the unimaginable happened. Donald Trump became the presumptive Republican nominee with his win in Indiana. His remaining rivals for the nomination, Ted Cruz and John Kasich, have bowed out of the race, and the RNC is now treating him as the winner. Which means it’s time for me to be a man and stick with my promise from back in August and March. It’s time for this Republican to leave the party.
                            <br>
                            <br>
                            |I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
                            <br>
                            <br>
                            ul.article__content__list
                                li.article__content__list__item The Republican Party I joined promoted fiscal responsibility, strong foreign policy abroad, and individual  		liberty. The party that I’ve seen of late is one that is none of that.<br><br>
                                li.article__content__list__item The Republican Party fought against slavery under Lincoln and fought the KKK under Grant. Now, it 		nominates a man who hesitates when confronted with support from the KKK and has manually re-tweeted 		racist and anti-Semitic accounts.<br><br>
                            |I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it<br><br>
                            ul.article__content__list
                                li.article__content__list__item(class="numbers") The Republican Party fought against slavery under Lincoln and fought the KKK under Grant. Now, it 		nominates a man who hesitates when confronted with support from the KKK and has manually re-tweeted 		racist and anti-Semitic accounts.<br><br>
                                li.article__content__list__item(class="numbers") The Republican Party fought for the women’s vote during the 1920 Presidential election. Now, it nominates a 		man who refers to them in obscene matters and cheats on them regularly.<br><br>
                            a.article__content__link(href="https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html") https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html<br><br>
                            |I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
                    .article__content__table
                        .article__content__table__heading for Producers
                        .article__content__table__textitem
                            .article__content__table__textitem__heading No fees from beat sale
                            .article__content__table__textitem__text I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
                        .article__content__table__textitem
                            .article__content__table__textitem__heading No fees from beat sale
                            .article__content__table__textitem__text I explained in greater length back in March how I ended up a Republican in the first place. I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades later, I find myself no longer being able to convince myself to stay in it
                        .article__content__table__items__container
                            .article__content__table__items
                                .article__content__table__items__row
                                    .article__content__table__item
                                        p.article__content__table__item__heading Column 1
                                    .article__content__table__item
                                        p.article__content__table__item__heading Column 2
                                    .article__content__table__item
                                        p.article__content__table__item__heading Column 3
                                    .article__content__table__item
                                        p.article__content__table__item__heading Column 4
                            .article__content__table__items
                                .article__content__table__items__row
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                            .article__content__table__items
                                .article__content__table__items__row
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                        p.article__content__table__item__text Something
                                        p.article__content__table__item__text Something
                            .article__content__table__items
                                .article__content__table__items__row
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                                    .article__content__table__item
                                        p.article__content__table__item__text Something
                section.series__list
                    .series__list__header
                        .series__list__header__heading Listing  (32 043)
                        .series__list__header__buttons
                            .series__list__header__buttons__left
                                i(class="fas fa-chevron-left")
                            .series__list__header__buttons__right
                                i(class="fas fa-chevron-right")
                    .series__list__items
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                        .series__list__items__item
                            a.series__list__items__item__link
                                img.series__list__items__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                .series__list__items__item__link__img__timer 0:17
                                h3.series__list__items__item__link__heading Game of Thrones, S03E01
                                p.series__list__items__item__link__text by Norman Jefferson
                                p.series__list__items__item__link__text__small end up
                .gradient
                    .gradient__heading Gradient
                    .gradient__one
                        img.gradient__one__img(src="images/gradient-one.jpg")
                    .gradient__two
                        img.gradient__two__img(src="images/gradient-two.jpg")
                .range__input
                    .range__input__header Range Input
                    .range__input__content
                        .range__input__content__heading Title
                        input.range__input__content__input(type="range", min="0", max="100", step="10")
                .tabs
                    .tabs__header tabs
                        .tabs__header__btns
                            button.tabs__header__btn(class="active") Active Tab
                            button.tabs__header__btn other tab
                            button.tabs__header__btn other tab 2
                    .tabs__content
                        .tabs__content__item
                            a.tabs__content__item__link
                                img.tabs__content__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                h3.tabs__content__item__link__heading Game of Thrones, S03E01
                                p.tabs__content__item__link__text by Norman Jefferson
                        .tabs__content__item
                            a.tabs__content__item__link
                                img.tabs__content__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                h3.tabs__content__item__link__heading Game of Thrones, S03E01
                                p.tabs__content__item__link__text by Norman Jefferson
                        .tabs__content__item
                            a.tabs__content__item__link
                                img.tabs__content__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                h3.tabs__content__item__link__heading Game of Thrones, S03E01
                                p.tabs__content__item__link__text by Norman Jefferson
                        .tabs__content__item
                            a.tabs__content__item__link
                                img.tabs__content__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                h3.tabs__content__item__link__heading Game of Thrones, S03E01
                                p.tabs__content__item__link__text by Norman Jefferson
                        .tabs__content__item
                            a.tabs__content__item__link
                                img.tabs__content__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                h3.tabs__content__item__link__heading Game of Thrones, S03E01
                                p.tabs__content__item__link__text by Norman Jefferson
                        .tabs__content__item
                            a.tabs__content__item__link
                                img.tabs__content__item__link__img(src="images/autumn-baldeneysee-essen.jpeg")
                                h3.tabs__content__item__link__heading Game of Thrones, S03E01
                                p.tabs__content__item__link__text by Norman Jefferson
                .elements
                    .elements__header Elements
                    .elements__header__content
                        button.elements__header__content__btn Button
                        button.elements__header__content__btn Button
                        .elements__header__content__onoff
                            button.elements__header__content__onoff__btn__on On
                            button.elements__header__content__onoff__btn__off Off
                        select.elements__header__content__select
                            option.elements__header__content__select__option(value="") Choose something...
                            option.elements__header__content__select__option(value="moscow") Moscow
                            option.elements__header__content__select__option(value="kiev") Kiev
                            option.elements__header__content__select__option(value="istanbul") Istanbul
                        .elements__header__content__input
                            label(for="checkbox") Tooltip
                            input.elements__header__content__input__checkbox(type="checkbox",id="checkbox")
                .emailform__widget
                    form.emailform
                        .emailform__heading Your email address will not be published. Required fields are marked <span class="red__span">*</span>
                        .emailform__rating
                            .emailform__rating__heading Your rating
                            .emailform__rating__stars
                                i(class="fas fa-star gold")
                                i(class="fas fa-star")
                                i(class="fas fa-star")
                                i(class="fas fa-star")
                                i(class="fas fa-star")
                        .emailform__comment
                            label(for="textarea") Your review <span class="red__span">*</span>
                            <br>
                            textarea.emailform__comment__textarea(type="textarea",id="textarea", placeholder="Your comment")
                        .emailform__name__email
                            .emailform__name
                                label(for="name") Name <span class="red__span">*</span>
                                    <br>
                                input.emailform__name__input(type="text", id="name", placeholder="Your name")
                            .emailform__email
                                label(for="email") Email <span class="red__span">*</span>
                                    <br>
                                input.emailform__email__input(type="text", id="email", placeholder="Your email")
                        input.emailform__checkbox(type="checkbox", id="emailcheckbox")
                        label.emailform__checkbox__label(for="emailcheckbox") Notify me of new posts by email.
                        <br>
                        button.emailform__btn(type="submit") Submit
                    .widget
                        .widget__instagram
                            .widget__instagram__text Instagram’s widget
                        .widget__soundcloud
                            .widget__soundcloud__text SoundCloud’s widget
                .toparrow
                    .toparrow__box
                        i(class="fas fa-chevron-up")
        include footer